extends ./layout.jade
block contenido
 div(class="col-md-8 remove-float center-block text-center big-top-space")
  h1 Bienvenidos
  a(href="/login" class="right-space") Iniciar Sesión
  a(href="/singup") Registrar