doctype html
html(lang="es")
 head
  title Inicio
  meta(charset="utf-8")
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="styleSheet")
  link(href="./css/app.css" rel="styleSheet")
body
 block contenido